<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Detail</title>
</head>
<body>
    <h3>削除確認画面</h3>
    <hr/>
    <form method="post">
    {% csrf_token %}
    <table>
      <tr>
        <td>post name: </td>
        <td>{{ object.post_name }}</td>
      </tr>
      <tr>
        <td>post date: </td>
        <td>{{ object.post_date }}</td>
      </tr>
      <tr>
        <td>post category: </td>
        <td>{{ object.category }}</td>
      </tr>
      <tr>
        <td>text: </td>
          <td><pre>{{ object.text }}</pre></td>
      </tr>
    </table>
        <p>本当に削除しますか？</p>
        <button type="submit">削除する</button>
    </form>
    <hr/>
</body>
</html>